@use "../../assets/assets" as use;

.questions {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
  .q--list {
    @include use.grid(4rem, 25rem);
  }
}

.q--form {
  .form--controller {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
    .form--action {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: .4rem;
    }
  }
}

@media (max-width: 667px) {
  .questions {
    .q--list {
      @include use.grid(4rem, 15rem);
    }
  }
}

.q--details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2rem;
}

.q--article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--primary-bg);
  box-shadow: var(--box-shadow);
  border: solid .1rem var(--border-color);
  padding: var(--secondary-padding);
  .q--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .q--body {
    font-weight: bold;
    white-space: pre-wrap;
  }
  .q--footer {
    .q--actions {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
    }
  }
}